/*navigation bar*/
nav{
    margin-left: 550px
}
nav a{
    color:rgb(254, 129, 0);
}
.active {
    text-decoration: underline;
    font-weight: bold;
}


/*background image for MailChimp*/
.bgimg{
    min-height: 100%;
    background-position: center;
    background-size: contain;
}
.bgimg {background-image: url("../image/contact_background.JPG")}


/*MailChimp signup form*/
#mc_embed_signup{
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
    width:500px;
    margin-left: 250px;

}

#mc_embed_signup h2{
    text-align:center;
    font-weight: bold;
}

#mc_embed_signup input.button{
    background:rgb(254, 129, 0);
}
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

