/**navigation bar**/
@import url("new_share_navbar.css");

/**bottom navigation bar**/
@import url("share_bottom_navbar.css");

body {
  font-family: "Varela Round";
}

#joinus_header{
    position: relative;
    background-color: grey;
    background-image: url("../image/banner_join.jpeg");
    background-size: 100%;
    width:100%;
    height: 400px;
}


#joinus_header #joinus_title{
    padding-top: 12%;
}

#joinus_header #joinus_title h{
    font-size: 55px;
    padding-left: 40%;
    color: white
}


/**Student Associations**/
 #stuass{
     margin-top: 0%;
     background: DarkGrey;
     position:relative;
 }
#stuass h{
    font-size: 35px;
    padding-left: 2%;
    color: orange;
    font-family: "Varela Round";
}

#stuass h2{
    font-family: "Varela Round";
    font-size: 25px;
    color: white;
}


#stuass .join_img{
    width:90%;
    height:auto;
}

#stuass #r_c_p{
    padding-left:8%;
}


 #volunteer{
     margin-top: 0%;
     background: white;
     position:relative;
 }
#volunteer h{
    font-size: 35px;
    margin-left: 2%;
    color: orange;
    font-family: "Varela Round";
}

#volunteer h1{
    font-family: "Varela Round";
    font-size: 25px;
    margin-left: 0%;
    color: black;
}

#volunteer .volunteer_img{
    width:100%;
    height:auto;
    
    margin-left: 2%;
}

/**Student Associations**/
 #internships{
     margin-top: 2%;
     background: white;
     border-top: solid 4px orange;
 }
#internships h{
    font-size: 35px;
    padding-left: 2%;
    color: orange;
    font-family: "Varela Round";
}

#internships h2{
    font-family: "Varela Round";
    font-size: 25px;
    padding-left: 0%;
    color: black;
}
