navbar,


.navbar{
  color: orange;
  list-style: none;
  text-align: right;
  padding: 5px 0 5px 0;
  margin-bottom: 0;
}

.navbar > li{
    display: inline-block;
    padding: 0 1px 0 1px;
}

.navbar > li > a{
  text-decoration: none;
  color:orange;
}

.navbar > li > a:hover{
  text-decoration: underline;
}
























